<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="server/server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server\/debug[\/]?" />
        </rule>
        <rule name="StaticContent">
          <action type="Rewrite" url="server/server.js" />
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="server/server.js" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="server/server.js" responseMode="ExecuteURL" />
    </httpErrors>
    <iisnode watchedFiles="*.js;node_modules\*;routes\*.js;middleware\*.js;controllers\*.js" node_env="production" nodeProcessCommandLine="&quot;D:\Program Files (x86)\nodejs\node.exe&quot;" />
  </system.webServer>
</configuration>
